*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


thead {
  background-color: rgb(194, 221, 245);
}


.nav-links{
  text-decoration: none;
  color: black;
  margin-right: 16px;
  font-size: 18px;
}
