* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    border: #333333 1px solid;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background: linear-gradient(135deg, #2979ff, #03e2ff);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box .tanggal {
    display: block;
    width: 32%;
    float: left;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 3px;
    padding: 10px;
}

.user-details .input-box .alamat {
    display: flex;
    width: 48%;
    float: left;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 3px;
    padding: 10px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    justify-content: space-between;
}

.user-details .input-box textarea {
    height: 118px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 10px 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    justify-content: space-between;
}

.user-details .input-box select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 10px 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    justify-content: space-between;
}

.user-details .input-box input:focus, .user-details .input-box input:valid {
    border-color: #03e2ff;
}

.user-details .input-box textarea:focus, .user-details .input-box textarea:valid {
    border-color: #03e2ff;
}

.user-details .input-box select:focus, .user-details .input-box select:valid {
    border-color: #03e2ff;
}

form .jeniskelamin .jk {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

form .kewarganegaraan .kewarganegaraan-details {
    font-size: 18px;
    font-weight: 500;
}

form .berlaku .berlaku-details {
    font-size: 18px;
    font-weight: 500;
}

form .kategori {
    display: flex;
    width: 100%;
    margin: 15px 0;
    justify-content: space-between;
}

form .kategori label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

form .kategori label .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .kategori label .satu,
#dot-2:checked ~ .kategori label .dua,
#dot-3:checked ~ .kategori label .tiga,
#dot-4:checked ~ .kategori label .empat,
#dot-5:checked ~ .kategori label .lima,
#dot-6:checked ~ .kategori label .enam,
#dot-7:checked ~ .kategori label .tujuh {
    background: #03e2ff;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 40px;
    margin: 45px 0
}

form .button input {
    height: 100%;
    width: 100px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #0070f0, #0070f0, #0070f0);
}

form .button input:hover {
    /* transform: scale(0.99); */
    cursor: pointer;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .kategori {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }

    .container .content .kategori {
        flex-direction: column;
    }
}

