@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

table{
    position: relative;
    border-collapse: collapse;
    margin: auto;
}
.list{
    width:100%;
    position:static;

    justify-content:space-around;

}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;

}
th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    background: #0070f0;
    color:#dddddd;

}

tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}


input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:  'Poppins',Arial, Helvetica, sans-serif;
    outline-color: #0070f0;
    word-wrap: break-word;
}
input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:  'Poppins',Arial, Helvetica, sans-serif;
    outline-color: #0070f0;
}


form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0070f0;
    margin-right: 4px;
}

label.val-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.btn{
	display: block;
	width: 50%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #0070f0, #0070f0, #0070f0);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

.btn-edit {
    background-color: #f0ad4e;
    color: white;
    padding: 8px 8px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-edit:hover {
    background-color: #f1b55f;
}

.btn-hapus {
    background-color: #f44336;;
    color: white;
    padding: 8px 8px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;

}

.btn-hapus:hover {
    background-color: #f5554a;
}

