@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');
body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
  }

  h2 {
    color: rgb(0, 0, 0);
  }


  .container {
    padding: 2em;
    margin: 2em auto;
    width: 50em;
    background: linear-gradient(100deg, #5c9fdd, #708ce9);
    border-radius: 20px;

  }

  label {
    font-size: 12pt;
    color: rgb(0, 0, 0);
  }

  input[type="text"],
  input[type="number"],
  textarea {
    padding: 8px;
    width: 97%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
    border-radius: 10px;
  }

  textarea {
    resize: none;
  }

  .button {
    background: #20ca6c;
    color: #fff;
    border: 0;
    padding: 5px 13px;
    font-size: 12pt;
    border-radius: 5px;
  }

  table {
    margin-top: 6px;
    padding: 8px;
    width: 99%;
    background: #efefef;
    border: 0;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    border-radius: 10px;
  }

